body{
    background-color: cornflowerblue;

    display: flex;
    flex-direction: column;
}

nav, main, main div{
    border: 2px solid black;
}

header, main, footer{
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    width: 40%;
    margin: 10px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header, footer{
    background-color: darkcyan;
}

nav a, footer{
    color: white;
}

footer{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

main a{
    color: black;
}

div{
    margin: 10px 0;
}

.option_compte:hover, input:hover{
    cursor: pointer;
}

table{
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td, form{
    border: 2px solid black;
}

input{
    background-color: rgb(200, 200, 200);
    border: transparent;
}

#champs_utilisateurs{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* VERSION TRÈS PETITE */
@media all and (max-width:344px){
    nav{
        width: 80%;
    }

    div{
        width: 60%;

        display: flex;
        flex-direction: column;
    }

    .option_compte{
        margin: 10px 0;
    }

    form{
        width: 70%;
    }

    #champs_utilisateurs div{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* VERSION PETITE */
@media all and (min-width:360px) and (max-width:767px){
    nav{
        width: 80%;
    }

    div{
        width: 60%;

        display: flex;
        flex-direction: column;
    }

    .option_compte{
        margin: 10px 0;
    }

    form{
        width: 70%;
    }

    #champs_utilisateurs div{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* VERSION MOYENNE */
@media all and (min-width:768px) and (max-width:819px){
    nav{
        width: 60%;
    }

    main a, main p, caption, th, td, footer p{
        font-size: 20px;
    }

    div{
        width: 80%;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #champs_utilisateurs div{
        width: 90%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* VERSION GRANDE */
@media all and (min-width:820px){
    nav{
        width: 60%;
    }

    main a, main p, caption, th, td, footer p{
        font-size: 20px;
    }

    div{
        width: 70%;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #champs_utilisateurs div{
        width: 90%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}